@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
  background: #ffffff !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #DAAC78;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #ffffff;
  margin: 0;
}
.forgot-password a {
  color: #DAAC78;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


:root{
  --primary-white:#fff;
  --primary-orange:#971400;
  --primary-dark:rgba(255,255,255,0)
}
body{
  font-family:"Roboto Condesed", sans-serif;
}

nav a.nav-link{
  font-weight:0.8rem;
  letter-spacing:0.0375rem;
  cursor:pointer;
}

nav ul li{
  text-transform:uppercase;
}

.navbar-nav >li >a{
  margin-right:0.75rem;
  margin-left:0.75rem;
  /* color:var(--primary-white) !important; */
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding:0 !important;
  height: 6rem !important;
}
 
.navbar-nav >li > a.active, .navbar-nav>li>a.active:focus{
  border-top:0.1875rem solid var(--primary-orange);
}

.navbar-nav>li>a:hover{
  border-top:0.1875rem solid var(--primary-orange);
}

.header-wraper{
  position: relative;
  /* background-color: ; */
  background:url(image1.jpg) no-repeat;
  background-size: cover;
  height:91.568vh;
}


.main-info{
  display:flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:"Roboto Condesed", sans-serif;
}

.main-info h1{
  color:var(--primary-orange);
  text-transform: uppercase;  
}

@media(max-width:768px){
  .main-info h1{
    font-size:1.5rem !important;
  }
}

.typed-text{
  font-size:2rem;
  color: var(--primary-white);
}

@media(max-width:768px){
  .main-info h1{
    font-size:1.5rem !important;
  }
}

.btn-main-offer{
  border: 1px solid #000;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color:#000;
  margin:2rem;
}


.card-control{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}